<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <div ui-view="main-view"></div>

  <!--   <div ng-app="test" ng-controller="ParentController">
        <div ng-controller="ChildController">
            <a ng-click="sayHello()">Say Hello!</a>
        </div>
        {{person}}
    </div> -->

   <!--  <div ng-app="myApp">
        {{name}}
    </div>
 -->
        
<!-- <div ng-controller="MyController">
    <input type="text" ng-model="expr" placeholder="Enter an expression">
    <h2>{{parseValue}}</h2>
</div> -->

    

    <script src="js/lib/angular/angular.js"></script>
    <script src="js/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="js/test.js"></script>    
</body>
</html>